@font-face {
  font-family: "Groovy";
  src: url(./assets/fonts/KeepOnTruckin-Aq32.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
$white: #fff;
$dark: #131313;
$pink: rgb(250, 75, 148);
$blue: #279fcf;
$lightpink: #ffe3fb;
$hotpink:rgb(255, 0, 179);
$darkblue: rgb(36, 70, 165);;
$flower-shadow: rgba(246, 33, 86, 0.527);
$app-bg: rgb(173, 240, 134);
$app-shadow: rgb(12, 153, 59);
$game-shadow: rgba(255, 255, 255, 0.918);

* {
    cursor: url(./assets/remote.png) 64 32, auto !important;
    font-family: 'Poppins', sans-serif;
  
    body {
      margin: 0 auto;
      padding: 0;
      color: $dark !important;
      display: flex;
      align-items: center;  
      height: 100vh;
      justify-content: center;
      background-image: url(./assets/groovy.jpg);
      background-repeat: no-repeat;
      background-size: 100%;

      .App {
        background-color: $app-bg !important;
        min-height: 600px; 
        width: 1500px !important;
        box-shadow: 1px 1px 5px $app-shadow;
        padding-left: 70px;

        .flower {
          background-image: url('./assets/flowers.png');
          background-size: 9%;
          margin-left: -50px !important;background-repeat: no-repeat;
          height: 280px;
          z-index: -3;
          margin-top: -200px !important;
          filter: drop-shadow(3px 3px $flower-shadow);
        }
        
        .Game {
          height: 550px;   
          filter: drop-shadow(0 0 0.5rem $game-shadow);
        }

        .Screen {
          background:url('./assets/tv.png') !important;
          background-repeat: no-repeat !important;
          background-size: 100% !important;
          display: inline-flex;
          width: 150px;
          height: 150px;
          padding: 30px;
          margin: 10px;text-align-last: center;
          margin-top: 20px;
          flex-wrap: wrap !important;
          align-items: center;
          justify-content: center;
        }
        
        .Hippie {
          position: relative;
          width: 25px;
          height: 28px;
          left: -20px;
          top: 10px !important;
          z-index: -1;
        }
        
        .Pop-out {
          animation-name: pop-out;
          animation-duration: 1s;
          animation-fill-mode: forwards;
        }
        
        .Hippie-hit {
          animation-duration: 0.5s;
        }
        
        @keyframes pop-out {
          0% {
            transform: none;
            top: 135px;  
            filter: drop-shadow(0 0 0.80rem $hotpink);
            z-index: -1;
          }
        
          10% {
            z-index: 1;
            transform: scale(2);  
            filter: drop-shadow(0 0 0.80rem $hotpink);
          }
        
          100% {
            transform: scale(5);
            top: 30px;
            z-index: 1;  
            filter: drop-shadow(0 0 0.80rem $hotpink);
          }
        }

        .Status {
          height: 250px;
          text-align: center;
          line-height: 1;
              h1 {
                font-family: 'Groovy' !important;
                padding-top: 40px;
                font-size: 80px;
                color: $blue;
                text-shadow: 4px 4px $white;
                letter-spacing: 2px;
                  -webkit-animation: jello-horizontal 0.9s both;
                          animation: jello-horizontal 0.9s both;
              }
              
              h2{
                font-size: 25px;
              }

              h3 {
                padding-bottom: 30px;
                font-size: 30px;
                font-weight: 500;
                margin-top: -30px !important;
              }

              .replay {
                background-color: $pink;
                width: fit-content;
                background-size: cover;
                padding: 10px;
                margin: 0 auto;
                position: relative;
                z-index: 2;
                border-radius: 15px;
                color: $white;
                font-weight: 600;
                font-size: 25px;
                margin-top: 20px !important;
                cursor: pointer !important;
              }
              .replay .clicker {
                color: $lightpink;
                font-size: 20px;
                padding: 5px;
              }
              
              .score {
                padding-top: 40px;
                font-family: 'Groovy';
                font-size:70px;
                color: $blue;
                text-shadow: 4px 4px $white;
                letter-spacing: 2px;
              }
              
              .groovy {
                margin-top: -40px !important;text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;
              }

              .time {
                padding-bottom: 40px;
              }
              
              .clicker {
                color: $darkblue;
              }
              
              @keyframes jello-horizontal {
                0% {
                  -webkit-transform: scale3d(1, 1, 1);
                          transform: scale3d(1, 1, 1);
                }
                30% {
                  -webkit-transform: scale3d(1.25, 0.75, 1);
                          transform: scale3d(1.25, 0.75, 1);
                }
                40% {
                  -webkit-transform: scale3d(0.75, 1.25, 1);
                          transform: scale3d(0.75, 1.25, 1);
                }
                50% {
                  -webkit-transform: scale3d(1.15, 0.85, 1);
                          transform: scale3d(1.15, 0.85, 1);
                }
                65% {
                  -webkit-transform: scale3d(0.95, 1.05, 1);
                          transform: scale3d(0.95, 1.05, 1);
                }
                75% {
                  -webkit-transform: scale3d(1.05, 0.95, 1);
                          transform: scale3d(1.05, 0.95, 1);
                }
                100% {
                  -webkit-transform: scale3d(1, 1, 1);
                          transform: scale3d(1, 1, 1);
                }
              }
            }
        }
    }
}
  
